.label {
    color: white;
    padding: 5px;
    font-size: 18px;
}

.radio {
    appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 2px solid mediumslateblue;
    margin-right: 8px;
}

.radio:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.radio:checked {
    background: radial-gradient(mediumslateblue 1px, rgba(0, 0, 0, 0) 3px);
}


